[Unit]
Description=Send a notification that the system has booted
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/notify-boot.sh

[Install]
WantedBy=multi-user.target
